<form action="" method="POST">
    <input type="text" name="name" id="" value="adventure" /> <br /><br />
    <input type="text" name="status" value="active" /> <br /><br />
    <button type="submit" class="button-link">submit</button>
</form>
