<nav>
    <ul class="navbar">
        <li><a href="/profile">profile</a></li>
        <li><a href="/">Products</a></li>
        <li><a href="/category">Categories</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="#">Contact</a></li>
        <li class="logout"><a href="/logout">Logout</a></li>
    </ul>
</nav>
